$button: #4d4d4d;
$accentPurple: #47476b;
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}
body{
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background: radial-gradient(#151515, #020202);
  
  #app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    #formula{
      //dont't exceed calculator boundaries
      word-wrap: break-word;
      text-align: right;
      font-size: 1.3em;
      font-family: digital;
      margin-top: 10px;
      margin-bottom: 0px;
      color: darken(white, 40%);
    }
    
    #display{
      text-align: right;
      font-family: digital;
      font-size: 2em;
      margin-top: 0px;
      
    }
    p{
      padding: 0;
      margin: 0;
    }
    
    #calculator{
      border: 2px solid $accentPurple;
      width: 334px;
      position: absolute;
      background-color: black;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 2px black;
      
      button{
        height: 65px;
        width: 80px;
        color: white;
        outline: 1px solid black;
        border: none;
        background: $button;
        font-family: Share Tech Mono, monospace;
        font-size: 20px;
        cursor: default;
        &:hover {
          color: black;
          background: lighten($button, 5%);
          outline: 0.05em solid grey;
          z-index: 3;
          
        }
      }
      
      
      #equals{
          // background: #004466;
          background: $accentPurple;
          position: absolute;
          height: 130px;
          bottom: 5px;
      }
      
      .big{
        width: 160px;
        
      }
      
      
      
     
    }
  }
}